{% set contact = pages.find("/contact-us")%}
<div id="qlwapp" class="qlwapp qlwapp-free qlwapp-bubble qlwapp-bottom-right qlwapp-all qlwapp-rounded">
    <div class="qlwapp-container">
        <a class="qlwapp-toggle" data-action="open" data-phone="{{ contact.header.whatsapp_number|replace({' ': '', '+' : ''}) }}" data-message="" role="button" tabindex="0" target="_blank">
            <i class="qlwapp-icon qlwapp-whatsapp-icon"></i>
            <i class="qlwapp-close" data-action="close">&times;</i>
        </a>
    </div>
</div>